[Unit]
Description=cleans up old webodm tasks
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/webodm_cleaner --config /usr/local/etc/cleaner.json
User=odm
Group=odm

[Install]
WantedBy=timers.target